.note {
    background-color: #fe8e8a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.scroll {
    overflow-y: auto;
    margin-bottom: 5px;
}