.note {
    background-color: #fef68a;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}
.note.new {
    background-color: #67d7cc;
}
.note.new.edit {
    background-color: #d79467;
}
.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}

.edit {
    border: none;
    resize: none;
    background-color: #d79467;
}

.divider{
    width:20px;
    height:auto;
    display:inline-block;
}
.dividerEdit{
    width:10px;
    height:auto;
    display:inline-block;
}

textarea {
    border: none;
    resize: none;
    background-color: #67d7cc;
}
textarea:focus {
    outline: none;
}

.save {
    background-color: #e1e1e1;
    border: none;
    border-radius: 15px;
    padding: 5px 10px 5px 10px;
}
.save:hover {
    background-color: #ededed;
    cursor: pointer;
}

.icon:hover {
    cursor: pointer;
}