.container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}